<img id="{{include.id}}" src="{{include.src}}" alt="{{include.alt}}" >

<div id="modal-{{include.id}}" class="modal">
 <span class="close">&times;</span>
 <img class="modal-content" id="img01">
 <div id="caption"></div>
</div>

<script>
 var modal = document.getElementById('modal-{{include.id}}');
 var img = document.getElementById('{{include.id}}');
 var modalImg = document.getElementById("img01");
 var captionText = document.getElementById("caption");
 img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
 }
 var span = document.getElementsByClassName("close")[0];
 span.onclick = function() {
  modal.style.display = "none";
 }
</script>
