{% assign random = include.src + include.alt | slugify  %}

<img id="img-{{random}}" src="{{include.src}}" alt="{{include.alt}}" >

<div id="modal-{{random}}" class="modal">
 <span class="close">&times;</span>
 <img class="modal-content" id="modal-img-{{random}}">
 <div id="caption-{{random}}"></div>
</div>

<script>
 var img = document.getElementById('img-{{random}}');
 var modal = document.getElementById('modal-{{random}}');
 var modalImg = document.getElementById("modal-img-{{random}}");
 var captionText = document.getElementById("caption-{{random}}");
 img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
 }

 modal.onclick = function() {
  modal.style.display = "none";
 }
</script>
