<nav class="navbar navbar-default navbar-custom navbar-fixed-top">

    <div class="container-fluid" style="background-color: black; opacity:0.78;">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="dropdown nav navbar-nav navbar-right" style="background-color: black">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Pages ⇩
                </button>
                <ul class="dropdown-menu">
                    {% for page in site.pages %}
                    {% if page.title and page.title != 'About' and page.title != 'Authors' %}
                    {% if page.url != '/404.html'  %}
                    <li style="background-color: black;">
                        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                    </li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/about">About</a></li>
                <li><a href="/authors">Authors</a></li>
            </ul>
        </div>

    </div>

</nav>
