<aside class="sidebar col-md-2">
    <!-- recent articles -->
    <section class="panel panel-default titleFont">
     <div class="panel-heading"><h3 class="panel-title">Latest Posts</h3></div>
     <div id="recent_posts" class="list-group">
      {% for post in posts limit:5 %}
      {% if post.url == page.url %}
      <i class="list-group-item " style="font-size: small;">{{post.title}}</i>
      {% else %}
      <a class="list-group-item " href="{{post.url}}" style="font-size: small;">{{post.title}}</a>
      {% endif %}
      {% endfor %}
     </div>
    </section>
    <!-- end of recent articles -->

    <!-- author part -->
    <div style="text-align:center;" >
        <a href="/authors/{{author.name}}">
            <img src="{{author.avatar}}" alt="Avatar for {{author.name}}" class="nostyle">
        </a>
        <b>Author:</b>
        <em><a href="/authors/{{author.name}}">{{author.name}}</a></em>
        <br/>

        {% if author.twitter %}
        <a href="https://twitter.com/{{author.twitter}}">
            <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        {% endif %}

        {% if author.github %}
        <a href="https://github.com/{{author.github}}">
            <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span>
        </a>
        {% endif %}
    <!-- end of author part -->
    </div>
   </aside>
