<b>Share this post:</b>
<a class="fa fa-twitter-square"
   {% if author %}
   href="https://twitter.com/intent/tweet?text={{ page.title }} by @{{author.twitter}} via @{{site.twitter_username}}:&url={{page.url| prepend: site.url}}"
   {% else %}
   href="https://twitter.com/intent/tweet?text={{ page.title }} via @{{site.twitter_username}}:&url={{page.url|prepend: site.url}}"
   {% endif%}
   target="_blank">
</a>

<a class="fa fa-google-plus-square"
   href="https://plus.google.com/share?url={{page.url|prepend: site.url}}"
   target="_blank">
</a>

<a class="fa fa-facebook-square"
   href="https://www.facebook.com/sharer/sharer.php?u={{page.url|prepend: site.url}}"
   target="_blank">
</a>

<a class="fa fa-reddit-square"
   href="https://www.reddit.com/submit?url={{page.url|prepend: site.url}}&title={{page.title}} by @{{author.name}} via @{{site.twitter_username}}"
   target="_blank">
</a>

<a class="fa fa-linkedin-square"
   href="https://www.linkedin.com/cws/share?token&isFramed=false&url={{page.url|prepend: site.url}}"
   target="_blank">
</a>

<a class="fa fa-tumblr-square"
   href="https://www.tumblr.com/widgets/share/tool/preview?shareSource=legacy&canonicalUrl=&url={{page.url|prepend: site.url}}"
   target="_blank">
</a>

<a class="fa fa-pinterest-square"
   href="https://log.pinterest.com/?type=pinmarklet&pmUrl={{page.url|prepend: site.url}}"
   target="_blank">
</a>
