<b>Share this post:</b>
<a class="fa fa-twitter-square"
   href="https://twitter.com/intent/tweet?text={{ include.title }} by @{{include.author}} via @{{site.twitter_username}}&url={{site.url}}{{include.url}}"
   target="_blank">
</a>

<a class="fa fa-google-plus-square"
   href="https://plus.google.com/share?url={{site.url}}{{include.url}}"
   target="_blank">
</a>

<a class="fa fa-facebook-square"
   href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{include.url}}"
   target="_blank">
</a>
