<!DOCTYPE html>
<html lang="en">

<head>
  {% block analytics %}
  {% endblock analytics %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Tales of a binary encoded life...">
  <meta name="author" content="BlahCats">

    <!-- Open Graph -->
    <meta prefix="og: http://ogp.me/ns#" property="og:site_name" content="BlahCats" />
    <meta prefix="og: http://ogp.me/ns#" property="og:type" content="blog" />
    <meta prefix="og: http://ogp.me/ns#" property="og:title" content="BlahCats" />
    <meta prefix="og: http://ogp.me/ns#" property="og:description" content="Tales of a binary encoded life..." />
    <meta prefix="og: http://ogp.me/ns#" property="og:locale" content="en_US" />
    <meta prefix="og: http://ogp.me/ns#" property="og:url" content="https://blahcat.github.io/" />
    <meta prefix="og: http://ogp.me/ns#" property="og:image"
        content="https://blahcat.github.io/img/blog-cover.png">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ctf_blahcat">
    <meta name="twitter:title" content="BlahCats">
    <meta name="twitter:description" content="Tales of a binary encoded life...">
    <meta name="twitter:url" content="https://blahcat.github.io/">
    <meta name="twitter:image:src" content="https://blahcat.github.io/img/blog-cover.png">

    <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Website",
      "name": " BlahCats ",
      "url" : "https://blahcat.github.io/",
      "image": "https://blahcat.github.io/img/blog-cover.png",
      "description": "Tales of a binary encoded life..."
    }
    </script>

  <title>{% block title %}{{ config.title }}{% endblock title %}</title>

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="{{ get_url(path="/img/favicon.ico") }}">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ get_url(path="css/bootstrap.min.css") }}">
  <!-- Custom fonts for this template -->
  <link href=" {{ get_url(path="css/all.min.css") }}" rel=" stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
    type='text/css'>
  <link
    href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ get_url(path="css/clean-blog.css", trailing_slash=false) }}">
  <link rel="stylesheet" href="{{ get_url(path="css/overrides.css", trailing_slash=false) }}">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{{ config.base_url }}">{{config.title}}</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          {% for item in config.extra.clean_blog_menu %}
          <li class="nav-item">
            <a class="nav-link" href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}">{{ item.name
              }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  {% block header %}
  <header class="masthead" style="background-image: url('{{ get_url(path="/img/blog-cover.png")}}')">
    <div class="overlay">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{config.title}}</h1>
            <span class="subheading">{{config.description}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  {% endblock header %}

  {% block content %}
  {% endblock content %}

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            {% for item in config.extra.clean_blog_social %}
            <li class="list-inline-item">
              <a href="{{ item.url | replace(from="$BASE_URL", to=config.base_url) }}">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="{{ item.icon }} fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            {% endfor %}
          </ul>
          <p class="copyright text-muted">
          {% block copyright %}
          Copyright &copy; BlahCats - 2013-2024
          {% endblock copyright %}
          </p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ get_url(path="js/jquery.min.js") }}"></script>
  <script src="{{ get_url(path="js/bootstrap.bundle.min.js") }}"></script>

  <!--Custom scripts for this template-->
  <script src="{{ get_url(path="js/clean-blog.min.js") }}"></script>

  <!--- Additional scripts -->
  {% block extrascripts %}
  {% endblock extrasripts %}
</body>

</html>