{% import "macros/page.html" as page_macros %}

{% extends "base.html" %}

{% block header_meta %}
  <meta name="description" content="Tales of a binary encoded life...">
  <meta name="author" content="BlahCats">

    <!-- Open Graph -->
    <meta prefix="og: http://ogp.me/ns#" property="og:site_name" content="BlahCats" />
    <meta prefix="og: http://ogp.me/ns#" property="og:type" content="blog" />
    <meta prefix="og: http://ogp.me/ns#" property="og:title" content="BlahCats" />
    <meta prefix="og: http://ogp.me/ns#" property="og:description" content="Tales of a binary encoded life..." />
    <meta prefix="og: http://ogp.me/ns#" property="og:locale" content="en_US" />
    <meta prefix="og: http://ogp.me/ns#" property="og:url" content="https://blahcat.github.io/" />
    <meta prefix="og: http://ogp.me/ns#" property="og:image"
        content="https://blahcat.github.io/img/blog-cover.png">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ctf_blahcat">
    <meta name="twitter:title" content="BlahCats">
    <meta name="twitter:description" content="Tales of a binary encoded life...">
    <meta name="twitter:url" content="https://blahcat.github.io/">
    <meta name="twitter:image:src" content="https://blahcat.github.io/img/blog-cover.png">

    <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Website",
      "name": " BlahCats ",
      "url" : "https://blahcat.github.io/",
      "image": "https://blahcat.github.io/img/blog-cover.png",
      "description": "Tales of a binary encoded life..."
    }
    </script>
{% endblock header_meta %}

{% block content %}
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="posts">
          {% for page in paginator.pages %}
          <div class="post-preview">
            {{ page_macros::page_title(page=page) }}
            {% if page.summary %}
            <p class="post-summary">{{ page.summary | safe }}</p>
            {% else %}
            <p class="post-summary">{{ page.content | safe | striptags | truncate(length=200) }}</p>
            {% endif %}
          </div>
          {% endfor %}
        </div>

        <!-- Paginator -->
        <div class="clearfix">
          {% if paginator.previous %}
          <a class="btn btn-primary float-left" href="{{ paginator.previous }}"> &larr; Newer Posts</a>
          {% endif %}
          {% if paginator.next %}
          <a class="btn btn-primary float-right" href="{{ paginator.next }}">Older Posts &rarr;</a>
          {% endif %}
        </div>

      </div>
    </div>
  </div>
{% endblock content %}