{% import "macros/post.html" as post_macros %}

{% extends "base.html" %}

{% block header %}
<!-- Page Header -->
<header class="masthead"
  {% if page.extra.header_img %}
  style="background-image: url('{{ get_url(path=page.extra.header_img)}}')"
  {% else %}
  style="background-image: url('{{ get_url(path=config.extra.clean_default_bg_cover)}}')"
  {% endif %}
  >
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          {{ post_macros::post_header(post=page) }}
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock header %}

{% block content %}
<!-- Post Content -->
<article>
  <article class="post">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{ page.content | safe }}
          {% if page.taxonomies.categories %}
          <aside class="post-tags">
            <p>Categories:
              {% for category in page.taxonomies.categories %}
              <a href="{{ get_taxonomy_url(kind="categories", name=category) }}">#{{ category }}</a>
              {% endfor %}
            </p>
          </aside>
          {% endif %}
          {% if page.taxonomies.tags %}
          <aside class="post-tags">
            <p>Tags:
              {% for tag in page.taxonomies.tags %}
              <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">#{{ tag }}</a>
              {% endfor %}
            </p>
          </aside>
          {% endif %}

        <aside class="post-discussion">
          Discuss:
            <a href="https://github.com/blahcat/blahcat.github.io/discussions?discussions_q={{ page.title }}" target="_blank">
              <i class="fab fa-github fa-lg"></i>&nbsp;GitHub
            </a>
        </aside>
      </div>
    </div>
  </article>
</article>
{% endblock content %}