---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h2>Author: {{ page.name }}</h2>
                </div>
            </div>
        </div>
    </div>
</header>

<style>
div#author-content {
    width:90%;
    margin:0 auto;
    padding-bottom: 35px;
    padding-top: 35px;
}

img#image-author {
    margin-left: 0px;
    margin-top: 5px;
    float: left;
    width: 75px;
    height: 75px;
}

#social-author {
    float:right;
}

#about-author {
    padding-left: 100px;
}


</style>

<!-- Author description part -->
<div class="container">

	<div class="row">
        <div class="w3-card-2">
            <div id="author-content">
                <strong>{{ page.name }}</strong>
                <hr/>
                <div itemprop="author" id="name-author"></div>
                <img itemprop="image" class="nostyle" id="image-author" src="{{ page.avatar }}"/>
                <div id="about-author">{{ page.content | markdownify }}</div>
                <div id="social-author">
                    {% if page.facebook %}
                    <a href="//facebook.com/{{ page.facebook }}" ><i class="fa fa-facebook-square fa"></i></a>
                    {% endif %}

                    {% if page.twitter %}
                    <a href="//twitter.com/{{ page.twitter }}" ><i class="fa fa-twitter-square fa"></i></a>
                    {% endif %}

                    {% if page.github %}
                    <a href="//github.com/{{ page.github }}" ><i class="fa fa-github-square fa"></i></a>
                    {% endif %}

                    {% if page.email %}
                    <a href="mailto:{{ page.email }}" ><i class="fa fa-envelope-square fa"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>

        <hr/>

        <div>
            {% assign author_posts = site.posts | where: "author", page.name | sort: "date", "last" %}
            <h3>Articles from {{page.name}} (total: {{author_posts|size}})</h3>
            <ul>
                {% for post in author_posts %}
                <li>
                    {{post.date | date: "%B %d, %Y"}} - <b><a href="{{post.url}}">{{post.title}}</a></b> ({{post.tags | join: ", "}})
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>
</div>

<hr>
