---
layout: default
---

<!-- Post Header -->
<header class="intro-header" style="opacity: 0.55; background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
 <div class="container">
  <div class="row">
   <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <div class="post-heading" style="color: {% if page.header-font %}{{ page.header-font }}{% else %}white{% endif %}">
     <h1><b>{{ page.title }}</b></h1>
     {% if page.subheading %}
     <h3>{{ page.subheading }}</h3>
     {% endif %}<br>
     <span class="meta" style="color: {% if page.header-font %}{{ page.header-font }}{% else %}white{% endif %};">
      • Posted by {% if page.author %}<a href="/authors/{{ page.author }}">{{ page.author }}</a>{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}
      {% if page.tags %}
      <br/>• Tags: {% for t in page.tags %} {{ t }} • {% endfor %}
      {% endif %}
     </span>
    </div>
   </div>
  </div>
 </div>
</header>

<!-- Post Content -->
<article>
 <div class="container">
  <div class="row">
   <div class="col-lg-10 col-lg-offset-0 col-md-10 col-md-offset-0">

	{{ content }}

    <hr>

    {% assign posts = site.posts %}
    {% assign author = site.authors | where: "name", page.author | first %}

    {% include share.html%}

    <ul class="pager">
     {% if page.previous.url %}
     <li class="previous">
      <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous Post</a>
     </li>
     {% endif %}
     {% if page.next.url %}
     <li class="next">
      <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
     </li>
     {% endif %}
    </ul>
   </div>

   {% include post_side.html %}

  </div>
 </div>
</article>

<hr>
